{% extends '@AltezzaTravel/hotels/admin/layout.html.twig' %}

{% block content %}
    <h3>Season type</h3>
    {{ form_row(form.type) }}
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
    {{ form_row(form.sort) }}
    <hr>

    <div class="btn-holder">
        {{ form_widget(form.submit) }}
    </div>
{% endblock %}
